code {
    white-space: pre;
}

pre:not([class]) {
    background-color: #ffffff;
}

.main-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

code {
    color: inherit;
    background-color: #0000000a;
}

img {
    max-width: 100%;
    height: auto;
    width: 300px;
}

body {
    max-width: 100rem;
    background-color: #ffffff;
}

.tabbed-pane {
    padding-top: 12px;
}

button.code-folding-btn:focus {
    outline: none;
}

.btn-light {
    height: 120px;
    width: 325px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.2s;
    margin-bottom: 20px;
}

.btn-light:hover {
    transform: scale(1.02);
}

.btn-light:active {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
    transform: translateY(2px);
}


.drop-menu {
    font-size: 0.9rem;
    border: none;
    background-color: none;
}

.navbar,
.bg-custom {
    top: 10px;
    color: #ffffff;

}

.footer {
    position: relative;
    bottom: 0rem;
    width: 100%;

}

.img-map {
    width: 45%;
    height: 45%;
}

.orange {
    color: #EE6331
}

.img-test {
    width: 100%;
    height: 25px;
    /* height: auto; */
}
