body {
    --banner-height: 250px;
}

.internal-embed.image-embed[alt*="banner"] {
    display: contents;
}

.obsidian-banner img[alt*="banner"] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--banner-height);
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
    user-select: none;
    border-radius: 0px;
}

.obsidian-banner img[alt*="banner"][alt*="higher"] {
    object-position: 50% 30%;
}

.obsidian-banner img[alt*="banner"][alt*="lower"] {
    object-position: 50% 70%;
}

.banner-title .obsidian-banner .inline-title {
    position: relative;
    margin-top: calc(var(--banner-height) - 100px);
    margin-bottom: 50px !important;
    line-height: 1.2em;
    text-align: center;
    color: white;
    padding: 7px 0px 7px 20px !important;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.416) 0%, rgba(0, 0, 0, 0.233) 53%, rgba(0, 0, 0, 0) 100%);
}

.obsidian-banner .inline-title,
.banner-fade .obsidian-banner .inline-title {
    position: relative;
    padding-top: calc(var(--banner-height) - 60px);
    z-index: 1;
}

.obsidian-banner img[alt*="banner"],
.banner-fade .obsidian-banner img[alt*="banner"] {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.banner-title .obsidian-banner img[alt*="banner"] {
    -webkit-mask-image: none;
    mask-image: none;
}


.banner-notion .obsidian-banner img[alt*="banner"] {
    -webkit-mask-image: none;
    mask-image: none;
}

.banner-notion .obsidian-banner .inline-title {
    position: relative;
    padding-top: calc(var(--banner-height) + 5px) !important;
    line-height: 1em !important;
    font-size: 2em !important;
    padding-bottom: 0.3em;
    z-index: 1;
}

img[alt*="circle"],
img[alt*="profile"],
img[alt*="round"] {
    display: block;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 60%;
    position: 50% 50%;
    margin-right: auto;
    margin-left: auto;
}

.markdown-rendered img[alt*="right"] {
    display: flexbox;
    float: right;
    clear: right;
    max-width: 40%;
    margin-left: 15px;
}

.markdown-rendered img[alt*="left"] {
    display: flexbox;
    float: left;
    clear: left;
    max-width: 40%;
    margin-right: 15px;
}
